<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<div class="container-fluid">
  <mat-card>

    <div class="alert alert-primary"  role="alert"> <h4> <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg> AUCTION FORM  </h4> <p> Please fill in  your requirements to deploy the Auction </p></div>

    <mat-card-content>

    <form class="example-form" [formGroup]="profileForm" >

      <mat-form-field class="example-full-width">
        <mat-label> Set your reserve price for this auction : </mat-label>
        <br>
        <br>

        <div class="input-group mb-3">
          <label class="input-group-text" > Reserve price </label>
          <input matInput type="number" min="0" class="form-control" aria-label="maximum price" formControlName="maxPrice"> <!--[ngModel]="this.tempMaxPrice"-->
        </div>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label> Set currency used for Auction : </mat-label>
        <br>
        <br>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"> Currency </label>
          <mat-select class="form-select" id="inputGroupSelect01" formControlName="currency" > <!-- [ngModel]="this.tempCurrency"-->
            <mat-option *ngFor="let c of currenciesArray" [value]="c" ngDefaultControl >
              {{c.value}}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>

    <br>

      <mat-form-field class="example-full-width">
        <mat-label> Set duration : </mat-label>
        <br>
        <br>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect02"> Duration (in minutes) </label>
          <mat-select class="form-select" id="inputGroupSelect02" formControlName="duration"> <!-- [ngModel]="this.tempDuration"-->
            <mat-option *ngFor="let d of durationArray" [value]="d" ngDefaultControl>
              {{d.value}}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label> Choose type of computation : </mat-label>
        <br>
        <br>
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect03"> Computation type </label>
          <mat-select class="form-select" id="inputGroupSelect03" formControlName="computationType"> <!-- [ngModel]="this.tempComputationType"-->
            <mat-option *ngFor="let cp of computationType" [value]="cp" ngDefaultControl>
              {{cp.value}}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>

    </form>
      <!--
           <div class="row justify-content-center">
           <button (click)="testJsFunction()"> TEST JS  </button>
           </div>

           <br>
           <br>

          <button class="btn btn-primary" (click)="this.callCreateFirstBid()"> ADD first bid  </button>
          -->

      <div class="row justify-content-center">
      <button type="submit" [disabled]="!profileForm.valid" (click)="createAuction()" class="btn btn-primary"> Submit </button>
    </div>

  </mat-card-content>
</mat-card>
</div>

<br>

<div class="container-fluid">
  <mat-card *ngIf="this.createAuctionCallResult != null">
    <mat-card-content>
      <div class="alert alert-primary"  role="alert"> <h4> <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg> STATE </h4> </div>
      <p> auction Address is :  {{this.createAuctionCallResult}} </p>
      <p> factory Address is :  {{this.factoryAddress}} </p>
      <div>
        <p> Current bid(s): </p>
        <p *ngIf="bidHistory[0] != null"> bidHistory : {{this.bidHistory}} </p>
        <p *ngIf="bidHistory[0] == null"> No bid yet </p>
      </div>

    </mat-card-content>
  </mat-card>
</div>


<div class="container-fluid">
  <mat-card *ngIf="this.createAuctionCallResult != null">
    <div class="alert alert-success" role="alert">
      <h4>
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        CONGRATULATION !
      </h4>
      <p>  Your auction has been created </p>
     </div>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>



